@using DT.PCP.Web.Resources.Views.Shared
@{
    ViewBag.Title = "Как подписаться на уведомления?";
}

<div class="span12">
    <header style="text-align: center; margin-bottom: 35px">
        <h1>Как подписаться на уведомления?</h1>
    </header>
</div>
<div class="row-fluid">
    @Html.ActionLink(InstructionsViewStrings.ButtonContents, "Index", "Support",null, new {@class = "btn btn-primary btn-large pull-right"})
</div>
<div class="span12">
    <p>В системе есть возможность осуществить подписку на новые нарушения, зарегистрированные на данное авто. После входа в профиль необходимо нажать кнопку <strong style="color: #5ca1e2;">&laquo;Уведомления&raquo;</strong></p>
</div>
<div class="span12" style="text-align: center">
    <img src="@Url.Content("~/Images/notification-change-enter.png")"/>
</div>
<div class="span12">
    <p>При нажатии на нее отображается форма данных для подписки</p>
</div>
<div class="span12" style="text-align: center">
    <img src="@Url.Content("~/Images/notification-change.png")"/>
</div>
<div class="span12">
    <p>По умолчанию указываются email и номер мобильного телефона, указанные в профиле, их можно изменить. Есть возможность подписаться по email, по sms, либо на оба вида уведомлений одновременно. Стоимость уведомлений можно посмотреть в разделе <a href="/Ru/Tariff"><strong style="color: #5ca1e2;">"Тарифы"</strong></a> </p>
</div>
<div class="row-fluid">
    @Html.ActionLink(InstructionsViewStrings.ButtonContents, "Index", "Support",null, new {@class = "btn btn-primary btn-large pull-right"})
</div>