<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Pcp" connectionString="Data Source=(local);Initial Catalog=DT.PCP;Integrated Security=True" />-->
    <add name="Pcp" connectionString="data source=cr8jx8i5gi.database.windows.net;Initial Catalog=DT.PCP;User ID=pcpsite@cr8jx8i5gi;Password=DT.pcp2013;Encrypt=true;Trusted_Connection=false;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CheckInterval" value="60000"/>
    <add key="SiteUrl" value="http://www.naoplatu.kz" />
    <add key="SiteName" value="naoplatu.kz" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITrafficViolationPayRegister">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITrafficViolationService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" findValue="WcfClient" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://82.200.165.7/TrafficViolationPayRegister.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITrafficViolationPayRegister"
          contract="BddPayRegisterService.ITrafficViolationPayRegister"
          name="WSHttpBinding_ITrafficViolationPayRegister" />
      <endpoint address="https://82.200.165.7/TrafficViolationService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITrafficViolationService"
          contract="BddViolationService.ITrafficViolationService" name="WSHttpBinding_ITrafficViolationService" />
    </client>
  </system.serviceModel>
</configuration>