<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITrafficViolationPayRegister" />
                <binding name="BasicHttpBinding_ITrafficViolationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.162:5336/TrafficViolationPayRegister.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficViolationPayRegister"
                contract="BddPayRegisterService.ITrafficViolationPayRegister"
                name="BasicHttpBinding_ITrafficViolationPayRegister" />
            <endpoint address="http://192.168.0.162:5336/TrafficViolationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficViolationService"
                contract="BddViolationService.ITrafficViolationService" name="BasicHttpBinding_ITrafficViolationService" />
        </client>
    </system.serviceModel>
</configuration>