<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Pcp" connectionString="Data Source=(local);Initial Catalog=DT.PCP;Integrated Security=True" />

  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <!--ссылка куда переходить если пользователь нажал кнопку НАЗАД-->
    <add key="EpayBackLink" value="http://www.naoplatu.kz"/>
    <!--адрес куда придет ответ от epay при оплате -->
    <add key="EpayPostLink" value="http://www.naoplatu.kz/Ru/Pay/EpayResponse/"/>
    <!--адрес когда при оплате происходит ошибка-->
    <add key="EpayErrorLink" value="http://www.naoplatu.kz/Ru/Pay/EpayError/"/>
    <!--адрес когда пользователь нажал оплатить на сайте -->
    <add key="EpayLogonUrl" value="http://3dsecure.kkb.kz/jsp/process/logon.jsp"/>
    <!--адрес epay для работы c оплатами(подтвердить/отменить) -->
    <add key="EpayRemoteControlUrl" value="http://3dsecure.kkb.kz/jsp/remote/control.jsp"/>
    <!--папка с сертификатами казкома-->
    <add key="CertFolder" value="PayCertificates" />
    <add key="ViolationImageCache" value="CachedViolationImages"/>
    
    <add key="ShopName" value="Test shop" />
    <add key="MerchantID" value="92061101" />
    <add key="CertID" value="00C182B189" />
    <add key="PfxPassword" value="nissan" />
    <add key="AzureDeploy" value="true" />
    <add key="StartCount" value="0" />
    <add key="SiteUrl" value="http://www.naoplatu.kz" />
    <add key="SiteName" value="naoplatu.kz" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITrafficViolationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" />
        <binding name="BasicHttpBinding_ITrafficViolationPayRegister" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaivor_BasicHttpBinding_ITrafficViolationService">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://91.135.197.202:5699/TrafficViolationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficViolationService" contract="BddViolationService.ITrafficViolationService" name="BasicHttpBinding_ITrafficViolationService" behaviorConfiguration="Behaivor_BasicHttpBinding_ITrafficViolationService" />
      <endpoint address="http://91.135.197.202:5699/TrafficViolationPayRegister.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficViolationPayRegister" contract="BddPayRegisterService.ITrafficViolationPayRegister" name="BasicHttpBinding_ITrafficViolationPayRegister" />
    </client>
  </system.serviceModel>
</configuration>